html, body {
  height:100%;  
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}


body {
	background:#000;
	margin:0;padding:0;
	/*font: 0.8em/165% "Lucida Grande","Lucida Sans Unicode",Segoe UI,Helvetica,Arial,sans-serif;*/
}

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}


.hidden {
	visibility:hidden;
	height:0;
}


/* Video-Controls */
.links {
  position:fixed;
  width:60%;
  margin: .4em 20%;
  user-select: none;
}
.links p {
  font-size: 1.2em;/*1.4em;*/
  background-color: rgba(255, 255, 255, 0.71);
  cursor:pointer;
  padding:.4em;
  margin: 7px;
}
.links p:hover {
  background:rgba(246, 255, 144, 0.71);
}

.p_status {
  margin:0 20%;
  width:60%;
  position:fixed;
	background:none;
	font-size:10em;
	color:rgba(255, 255, 255, 0.22);
	font-weight:900;
	/*display:none;*/
	z-index: 8;
	cursor:default;
}




.wraptocenter {
  position: absolute;
  width: 100%;
  height: 100%;
}
.wraptocenter * {
}

#menupic {
  opacity: 0;
}

#infopanel {
  position:fixed;
  z-index: 10;
  display:none;
  /*display: block;*/
  border-radius:5px;
  padding:5px;
  width:300px;
  min-width:200px;
  min-height:200px;
  background: white;
  /*opacity: .8;*/
}
#infopanel * {
  padding: 0;
  margin: 0; 
}
#infomedia img,
#infomedia video {
  width:300px;
}




#fastcontact,
#button_mainmenu {
  position: absolute;
  top: 3em;
  right: 0;
  text-align: center;
  z-index: 40;
}
#fastcontact > div, #fastcontact .line,
#button_mainmenu > div, #button_mainmenu .line {
  text-decoration: none;
  color: #FFF;
  margin: 0;
  padding: .1em;
  font-size: .7em;
  display: block;
  line-height: 1em;
}
#fastcontact .line {
  margin-left: .8em;
  padding:0;
}
#fastcontact > div.mail,
#button_mainmenu > div.button {
  padding: .5em;
  background: #FFF;
  color: #000;
  font-style: italic;
  font-size: 1em;
  margin-bottom: .2em;
}
#fastcontact #impressum {
  display: none;
  width: 350px;
  z-index: 50;
  position: fixed;
  right: 0;
  background: #2B2B2B;
  color: #FFF;
  padding: 50px 40px;
  font-family: "Open Sans";
  font-size: .9em;
  line-height: 1.2em;
  font-weight: 300;
}
#fastcontact #impressum strong{
  font-weight: 600;
  font-size: 1.2em;
}
#fastcontact #impressum p{
  color: #FFF;
}
#fastcontact #impressum h4{
  margin: 0;
}
#fastcontact #impressum a{
  font-weight: 600;
  font-size: 1.3em;
  color: #A8A8A8;
}
#fastcontact #impressum a:hover{
  color: #5AA9FF;
}


.clear {
  clear:both;
}
.line {
  width:2em;
  height:1px;
  background: #FFF;
}

#button_mainmenu {
  top: 10em;
}